﻿<!DOCTYPE html>
<html ng-app="SPAngularApi" ng-controller="HomePageController">
<head>
    <title>Home</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <ul>
        <li ng-repeat = "ownerStatView in models.listOwnerStatView">
            <a href="/#/Pets/{{ ownerStatView.OwnerId }}">{{ ownerStatView.Name }}</a>
        </li>
    </ul>

    <div ng-view></div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js"></script>
    @Scripts.Render("~/bundles/SPAngularApi")
    <script type="text/javascript">
        angular.element(document).ready(function () {

            var initInjector = angular.injector(['ng']);
            var $http = initInjector.get('$http');

            $http({ method: 'GET', url: '/api/AjaxHome' })
                .success(function (result) {
                    //angular.module('SPAngularApi', [])
                    //    .controller('HomePageController', ['$scope', function ($scope) {
                    //        $scope.models.listOwnerStatView = result;
                    //    }]);
                    //angular.bootstrap(document, ['SPAngularApi']);
                    alert("$http: OwnerId = " + result[0].OwnerId + ", Name = " + result[0].Name + ", Count = " + result[0].Count + ".");
                })
                .error(function (error) {
                    alert("Error!");
                });

        });
    </script>
</body>
</html>