﻿<h2>Pet Detail</h2>

<ul>
    <li ng-repeat="pet in models.listPet">
        {{ pet.Name }}
    </li>
</ul>

<script type="text/javascript">
        $(document).ready(function () {
            getAllPetItems();
        });

        function sendAjaxRequest(httpMethod, callback, url = "/api/AjaxDetail/") {
            $.ajax(url, {
                type: httpMethod,
                success: callback
            });
        };

        function getAllPetItems() {
            sendAjaxRequest("GET", function (data) {
                models.listOwnerStatView.removeAll();
                for (var i = 0; i < data.length; i++) {
                    models.listOwnerStatView.push(data[i]);
                }
            });
        }
</script>
 
